<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">

        <a href="/logout" class="btn btn-danger">Logout</a>
      </form>
    </div>
  </div>
</nav>
<div class="container text-center"></div>
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="pufr.jpg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Puffer Case</h5>
        <p class="card-text">Premium Quality pufferCases starts from 299/- onwards available for all iphones and samsung s series</p>
        <a href="#" class="btn btn-primary">Order Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="finewoven.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Finewoven Case</h5>
        <p class="card-text">Premium Finewoven Case for all iphones above 13 series starts from 599/-</p>
        <a href="#" class="btn btn-primary">Order Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="silicon.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Silicon Case</h5>
        <p class="card-text">Premium elegant Silicon case for all iphones and Samsung S series Starts from 299/- </p>
        <a href="#" class="btn btn-primary">Order Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="transprtmag.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Transparent Magsafe</h5>
        <p class="card-text">Premium Transparent Case with Magsafe support. Available for iphones and samsung S series.
        </p>
        <a href="#" class="btn btn-primary">Order Now</a>
      </div>
    </div>
  </div>
</div>
</div>